<%if buyer_signed_in? || broker_signed_in? || admin_signed_in?%>
    <h1>SIGNED IN</h1>
<%else%>
    <h1>SIGN IN</h1> <br />
    <%= link_to "buyer", new_buyer_session_path  %><br />
    <%= link_to "broker", new_broker_session_path %><br />
    <%= link_to "admin", new_admin_session_path  %>
<%end%>