<div class='container mx-auto'>
    <div class='flex'>
        <div class='w-1/2 flex flex-col justify-center items-center'>
            <h1 class='text-5xl font-bold leading-normal mb-10 mt-28 text-center'><span class='text-green-700'>Buy Stocks</span> with our <br/>Trusted Brokers</h1>
            <h3 class='text-2xl mb-20 text-gray-800'>Start investing with the top companies around the world</h3>
            <%= link_to 'Get Started', new_buyer_registration_path, class: 'hover:bg-green-500 px-12 py-4 text-lg font-semibold rounded-full shadow-xl bg-green-700 text-white' %>
        </div>
        <div class='w-1/2 pt-20 px-20'>
            <img src='/svg/investing-image-1.svg' />
        </div>
    </div>
    <div class='flex'>
        <div class='w-1/2 pt-20 px-20'>
            <img src='/svg/investing-image-2.svg' />
        </div>
        <div class='w-1/2 flex flex-col justify-center items-center'>
            <h1 class='text-5xl font-bold leading-normal mb-10 mt-28 text-center'>Want to become a <span class='text-green-700'>Stockbroker?</span></h1>
            <h3 class='text-2xl mb-20 text-gray-800 '>Join Us! Follow simple steps and start selling Stocks</h3>
            <%= link_to 'JOIN NOW', new_broker_registration_path, class: 'hover:bg-green-500 px-12 py-4 text-lg font-semibold rounded-full shadow-xl bg-green-700 text-white' %>
        </div>
    </div>
</div>