<p>Buyer Home</p>

<%if buyer_signed_in?%>
    <h1>buyer_signed_in</h1>
    <%= link_to "Sign Out", destroy_buyer_session_path,method: :delete, class:"nav-link active" %>
    <%= link_to "Edit Profile", edit_buyer_registration_path, class:"nav-link active" %>  
<%else%>
  
<%end%>
<%client = IEX::Api::Client.new(
  publishable_token: ENV.fetch("IEX_API_PUBLISHABLE_TOKEN"),
  secret_token: ENV.fetch("IEX_API_SECRET_TOKEN"),
  endpoint: 'https://cloud.iexapis.com/v1'
)%>
<h1> AAPL </h1>
<%quote = client.quote('AAPL')%>
latest price:<%=quote.latest_price %>
change:<%=quote.change  %>
